<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>シナトラ</title>
</head>
<body>
  <h1>シナトラ</h1>
  <form action="" method="post">ポスト
    <input type="text" name = "post_name">
    <input type="submit">
  </form>

  <form action="" method="get">ゲット
    <input type="text" name="get_name">
    <input type="submit">
  </form>

  <% if @get_name %>
    <div>
      ゲットしました。<br>
      こんにちわ<br>
      <%= @get_name %>さん
    </div>
  <% elsif @post_name %>
    <div>
      ポストしました。<br>
      こんにちわ<br>
      <%= @post_name %>さん
    </div>
  <% end %>
</body>
</html>
