<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>hello</title>
</head>
<body>
  hello sinatra
</body>
<style media="screen">
  body {
    background-color:yellow
    font-size:24px;
  }
</style>
</html>
